Source: openpanel-mod-dnsdomain
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libgrace, libgrace-dev, libgrace-pcre, openpanel-dev, openpanel-mkmodulexml
Standards-Version: 3.7.2

Package: openpanel-mod-dnsdomain
Architecture: any
Depends: openpanel-core (>= 0.8.3), openpanel-mod-domain, bind9, libgrace-pcre
Description: OpenPanel module to manage Bind 9
 Configure the BIND 9 DNS server through openpanel
